
:root {
  --col-title:   rgb(230,220,210);
  --col-content: rgb(150,140,140);
}

body {
    font-family: "Arial", sans-serif;
    margin: auto;

    background-color: gray;
    background-image: url("bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(4px);
}

header, #content {
    min-width: 680px;
    max-width: 100%;
    width: 80%; 
    margin: auto;
}

header {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 0px; 
    background-color: var(--col-title);
    text-align: center;
    border-radius: 10px;
}


section {
    background-color: var(--col-content);
    border-radius: 10px 10px 3px 3px;
    margin: auto;
    margin-bottom: 15px;
}

section .title {
    background-color: var(--col-title);
    border-radius: inherit;
    font-size: 1.5em; 
    font-weight: bold;
    margin: 0;
    padding: 10px;
}

section .content {
    background-color: var(--col-content);
    border-radius: 10px;
    margin: auto;
    padding: 10px;
}

section .content p {
    text-align: justify;
    text-indent: 3em;
    margin: auto;
    padding: 0.5em 1em 0.5em 1em;
}

button {
    font-size: 1.2em;
    height: 2em;
}


#instructions {
    background-color: var(--col-title);
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}

#instructions, #instructions th, #instructions td {
    border: solid gray 2px; 
    padding: 10px; 
}

#instructions tr {
    height: 3em;
}


#regs {
    max-width: 500px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    text-align: center;
}

#regs #log {
    text-align: left;
    font-size: 1.5em;
}

#regs .label {
    text-align: right;    
    margin-right: 0.5em;
    font-size: 1.2em;
}

#regs input {
    min-width: 0;
    font-size: 2em;
    text-align: center;
    font-family: monospace;
}


#memory {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
}


#memory .cell {
    font-family: monospace;
    font-size: 1.5em;
    background-color: var(--col-title);
    margin: 3px; 
    /* border: solid gray 2px;*/
    border-radius: 5px;
}

#memory .current {
    background-color: yellow;
}

#memory .cell div {
    padding-left: 3px;
    text-align: left; 
}

#memory .cell input {
    display: block;
    min-width: 0;
    width: 90%;
    margin: auto;
    margin-bottom: 2px;
    padding: 0;
    border-radius: 5px;
    font-size: inherit;
    text-align: center;
    font-family: inherit;
}

